<div id="articles">
<ul id="liArticles">
  {{#each articles}}
  <li>
    <h2><p class="heading" data-id="{{this._id}}">{{this.headline}}</p></h2>
    <p><span class="label" >Summary:</span>{{this.summary}}</p>
    <p>
    <button id="delArticle" data-id="{{this._id}}" class="btn btn-default">Delete Article!</button>
    <a href='{{this.link}}' target="_blank">Open Article</a>
    {{!-- <a href="https://www.thesitewizard.com/" target="_blank">thesitewizard.com</a> --}}
    {{#with note}}
      <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>
    {{/with}}
    </p>
  </li>
  {{/each}}
</ul>
</div>
<div id="notes">
  <div id="formdiv"></div>
  <div id="notesdiv"></div>
</div>


{{!-- <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span> --}}